:root {
  --toastify-color-success: rgba(146, 192, 221, 0.5);

  --toastify-icon-color-success: #92c0dd;

  --toastify-color-light: rgba(255, 250, 255, 0.9);

  --toastify-font-family: "Helvetica", "Tahoma", "Arial", "STXihei", "华文细黑",
    "Microsoft YaHei", "微软雅黑", "sans-serif";
}
